<footer class="py-4 px-6 bg-gray-800 text-white text-center">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt
		semper nisi, eu congue neque bibendum in. Proin blandit placerat lectus, eu
		varius nibh tincidunt ac. Aliquam ullamcorper velit id dolor gravida, vel
		egestas nisi pulvinar. Proin varius sapien sit amet odio malesuada feugiat.
		Nam varius malesuada diam, et dictum nibh commodo quis.
	</p>
	<p class="text-sm">&copy; 2023 Lab 1</p>
</footer>
